GROQ_KEY=???

PATH_TO_LOCALSTORAGE=C:\Users\Matie\AppData\Roaming\Mozilla\Firefox\Profiles\????????\storage\default\https+++zawodowe.edu.pl\ls\data.sqlite
PATH_TO_COOKIES=C:\Users\Matie\AppData\Roaming\Mozilla\Firefox\Profiles\?????????\cookies.sqlite

MAIN_DOMAIN=
